body{
    max-width: 1000vw;
    background: rgb(252, 252, 217);
}


body div .wrapper{
    display: flex;
    justify-content: center;
}


header img{
    width: 100%;
    border-radius: 30px; 
}


section .slipde .splide_slide{
    align-self: center;
}

.splide_slide img{
  border-radius: 30px;
}

.huvudmeny{
    display: flex;
    align-items: center;
    justify-content: space-around; 
    background:rgb(246, 246, 182);
    border-radius: 30px;
    margin-bottom: 30px;
   
}

main nav a{
    color: rgb(237, 199, 7);
    font-family:'Courier New', Courier, monospace;
    font-size: 15px;
    text-decoration: none;
    transition: 0.4s;
}

main a:hover{
    color: rgb(142, 171, 129);
    background: rgb(252, 252, 217);
    border-radius: 40px;
    box-shadow: 0 0 30px;

}
main a:active{
    background:rgb(246, 224, 116);
}

aside {
    display: grid;
    max-width: 100%;
    grid-template-columns:repeat (4,1fr);
    grid-template-rows: repeat(4,1fr);
    border-radius: 30px;
   
    
}
.citron {
    width: 150px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: rgb(246, 246, 182) solid 4px ;
    grid-column:1/2;
    grid-row: 1/2;
    box-shadow: 0 0 10px;
    color: black;
    column-gap: 30px; 
    border-radius: 30px;
}

aside a .citron:hover{
    box-shadow: 0 0 10px;
    color: rgb(142, 171, 129);
}


div img{
    grid-column:2/4 ;
    grid-row: 1/4;
}

footer nav{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    background:rgb(246, 246, 182);
    border-radius: 30px;
    margin-bottom: 30px;
    line-height: 50%;
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
    text-decoration: none;
    color: rgb(237, 199, 7); 
}

footer nav {
    color: rgb(237, 199, 7);
    font-family:'Courier New', Courier, monospace;
    font-size: 15px;
    text-decoration: none;

}


.litencitron{
    height: 130px;
    border-radius: 30px;

}

aside main {
    display: flex;
    grid-column:2/4 ;
    grid-row: 1/4;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: rgb(237, 199, 7);
    padding-left: 30px;
    border-radius: 30px;
    line-height: 140%;

}


.kontaktuppgifter{
    flex-direction: column;
   
}
.kontakts{
    justify-items: center;
}



aside main img{
    width: 100%;
    height: fit-content;
    border-radius: 30px;
}

aside main{
    flex-direction: column;
    align-items: center;
}

aside main a{
    text-decoration: none;
    color:rgb(142, 171, 129);
    border-radius: 30px;
    border: 3px solid rgb(237, 199, 7);
    padding:3px;
    
}

nav.receptbilder{
    display: flex;
   justify-content: space-around;

}

.receptbilder img{
   width: 200px;
   height: 180px;
   display: flex;
   border-radius: 30px;
   border: 5px solid rgb(246, 246, 182);
  
}

.receptbilder a{
    color: rgb(237, 199, 7);
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    justify-items: center;
}

.receptbilder{
    padding-bottom: 30px;
}
.ingredienser{
    font-family: 'Courier New', Courier, monospace;
     background: rgb(246, 246, 182);
    width: 200px;
    color:rgb(237, 199, 7);
    border-radius: 30px;
    justify-items: center;
    padding-right: 15px;
    line-height: 160%;
}


div .howto{
    font-family: 'Courier New', Courier, monospace;
    background: rgb(246, 246, 182);
    width:100%;
    color: rgb(237, 199, 7);
    border-radius: 30px;
    line-height: 140%; 
}

.howto a{
    color: rgb(90, 143, 98);
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    box-shadow: 0 0 5px;
    border-radius: 30px;
}
.howto a:hover{
   color: rgb(0, 0, 0);
}

article{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;

} 
article img{
    width: 600px;
    height: 400px;
    border-radius: 30px;
 
}
.beskrivning{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(237, 199, 7);
    justify-items: center;
}
